<div id="calendar"></div>

<template id="events" data-events="<%= @events.to_json %>"></template>

<script>
 /* const cal = document.querySelector('#calendar');
  * var calendar = new Calendar(cal, {
  *     defaultView: 'agendaWeek'
  * }); */ 
 
 
</script>
