<h1>Schedules</h1>

<input type="text" title="search_text" placeholder="Enter CRN..."/>
<button title="search">Search</button>

<h2>Your classes</h2>
<table>
  <tr>
    <th>Course</th>
    <th>Section Name</th>
    <th>CRN</th>
    <th>Professor</th>
    <th>Location</th>
    <th>Days</th>
    <th>Times</th>
  </tr>
</table>

<button title="export">Export to calender</button>
