<h1>Schedules</h1>

<input type="text" id="search" title="search_text" placeholder="Enter CRN..."/>
<button title="search" onclick="search()">Search</button>

<!-- <h2>Search results</h2>

     <table id="searchTable">
     <tr>
     <th>Course</th>
     <th>Section Name</th>
     <th>CRN</th>
     <th>Professor</th>
     <th>Location</th>
     <th>Days</th>
     <th>Times</th>
     </tr>
     </table>
-->
<!-- <br><br> -->

<h2>Your classes</h2>
<table id="scheduleTable">
  <tr>
    <th>Course</th>
    <th>Section Name</th>
    <th>CRN</th>
    <th>Professor</th>
    <th>Location</th>
    <th>Days</th>
    <th>Times</th>
  </tr>
</table>

<button title="export">Export to calender</button>
