<% if @courses.any? %>
    <%= render partial: 'shared/course', collection: @courses %>
<% else %>
    <h1>Sorry, we couldn't find anything matching your search.</h1>
    <p>Please try again!</p>
<% end %>

