<%= render(partial: 'shared/navbar') %>

<div class="search-results">
  <%= render partial: 'shared/instructor', collection: @instructors %>
  <%= render partial: 'shared/course', collection: @courses %>

  <% if (@courses&.empty? || @courses.nil?) && (@instructors&.empty? || @instructors.nil?) %>
    <span>No results found. Please try again with another search term.</span>
  <% end %>
</div>
