<div class="card">
  <div class="card-body">
    <h3><%= "#{instructor.name}" %></h3>
    <ul class="attr-list">
      <li><i class="fa fa-user"></i> Instructor</li>
      <li><i class="fa fa-bars"></i> <%= "#{instructor.section_count}" %> sections</li>
    </ul>
  </div>
</div>