<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #006633">
    <div class="container">
	<a class="navbar-brand mb-0 h1" href="/">
	    <i class="fas fa-calendar-alt"></i>
	    Schedules
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item">
		    <a href="/schedule" class="nav-link">Your Schedule (<span id="cart-counter"></span>)</a>
		</li>
		<li class="nav-item">
		    <a href="/about" class="nav-link">About Schedules</a>
		</li>
	    </ul>
	    
	    <form action="/search" class="form-inline">
		<select id="semester-select" class="custom-select">
		    <% Semester.all.each do |semester| %>
			<option
			    value="<%= semester.id %>"
			    <% if @semester == semester %> selected <% end %>
			>
			    <%= "#{semester.season} #{semester.year}" %>
			</option>
		    <% end %>
		</select>

		<input
		    id="searchbar"
			value="<%= params[:query] %>"
			name="query"
			type="text"
			class="form-control"
			placeholder="Search course or professor..."
			aria-describedby="basic-addon2"
			autocomplete="off"
		>
		
		<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	    </form>
	    
	</div>
    </div>
</nav>
