<div class="container-fluid">
    <div class="row align-left align-sm-center align-md-right" id="navbar">
	<div class="col align-center">
	    <div>
		<a href="/" id="logo">
		    <i class="fas fa-calendar-alt"></i>
		    Schedules
		</a>
		<select onchange="setSemester(this)">
		    <% Semester.all.each do |semester| %>
			<option value="<%= semester.id %>" <% if @semester == semester %> selected <% end %> >
			    <%= "#{semester.season} #{semester.year}" %>
			</option>
		    <% end %>
		</select>	
	    </div>
	</div>

	<div class="col-sm align-center order-0 order-sm-1" onclick="window.schedule.toggle()">
	    <h1 style="margin-top:24px">
		<span class="fa-layers fa-fw" id="schedule-icon">
		    <i class="fas fa-shopping-cart"></i>
		    <span class="fa-layers fa-fw">
			<i class="fas fa-circle" data-fa-transform="shrink-3 up-12 right-12" style="color:gray"></i>
			<span id="course-counter" class="fa-layers-text fa-inverse" data-fa-transform="shrink-10 up-12 right-12" style="font-weight:600">
			    <%= @cart.length %>
			</span>
		    </span>
		</span>
	    </h1>
	</div>
	
	<div class="col order-1 order-sm-0">
	    <form action="/search" class="form-inline">
		<div class="form-group">
		  <input name="query" type="text" class="form-control" placeholder="Search by CRN, course, professor..." aria-describedby="basic-addon2">
		    <div class="input-group" style="width:100%;">
			<input name="query" type="text" class="form-control" placeholder="Search by CRN, course, professor..." aria-describedby="basic-addon2">
			<div class="input-group-append">
			    <button class="btn btn-secondary" type="button">
				<i class="fas fa-search"></i>
			    </button>
			</div>
		    </div>
		</div>
	    </form>
	</div>
    </div>
</div>

<div class="container-fluid">
    <!-- The main screen consists of a row with two columns: the search results, and the cart -->
    <div class="row">
	
	<!-- Search result, List of Courses -->
	<div class="col-lg-7 col-md-10 mx-auto order-2 order-lg-0" id="search-list">
