<main class="container" data-controller="application">
	<div class="col-lg-12 col-12 col-sm-12 mx-auto order-2 order-lg-0" id="search-list">
		<%= yield %>
	</div>

	<a data-controller="cart" class="cart" href="/schedule">
		<span id="count" data-target="cart.counter">0</span>
		<i class="fas fa-shopping-cart"></i>
	</a>

    <footer class="footer">
		<p>Schedules <span data-controller="version"> </span> is a <a href="https://rubyonrails.org">Rails</a> app built by <a href="https://srct.gmu.edu">Mason SRCT</a>.</p>
		<p>View the source code on the <a href="https://git.gmu.edu/srct/schedules">SRCT GitLab</a>.</p>
		<p>Questions? <a href="mailto:srct@gmu.edu">Email us.</a></p>
		<p>Database last updated <%= Update.last_update_date %> ET.</p>
    </footer>
</main>