<main class="container">
    <!-- The main screen consists of a row with two columns: the search results, and the cart -->
    <div id="page" class="row">
	<!-- Search result, List of Courses -->
	<div class="col-lg-12 col-12 col-sm-12 mx-auto order-2 order-lg-0" id="search-list">
	    <%= yield %>
	</div>

	<!-- List of sections in the cart -->
    </div>

    <%# <footer class="footer">
	Schedules was built by <a href="https://srct.gmu.edu">Mason SRCT</a> and is completely open source. <br/>
	Want to contribute? View the code on the <a href="https://git.gmu.edu/srct/schedules">SRCT GitLab</a>.<br/>
    </footer> %>
</main>