<form data-controller="search" data-action="search#search" id="search-container" action="/search">
    <input 
        data-target="search.input"
        name="query"
        value="<%= params[:query] %>"
        placeholder="PSYC, CS 112, 71926, Jonathan Bell, ..."
        autocomplete="off"
    />
    <button type="submit" aria-label="Search">
        <i class="fas fa-search"></i>
    </button>
</form>