<div class="star-rating">
    <div class="back-stars">
	<i class="fas fa-star" aria-hidden="true"></i>
	<i class="fas fa-star" aria-hidden="true"></i>
	<i class="fas fa-star" aria-hidden="true"></i>
	<i class="fas fa-star" aria-hidden="true"></i>
	<i class="fas fa-star" aria-hidden="true"></i>
	
	<div class="front-stars" style="width: <%= percent %>%">
	    <i class="fa fa-star" aria-hidden="true"></i>
	    <i class="fa fa-star" aria-hidden="true"></i>
	    <i class="fa fa-star" aria-hidden="true"></i>
	    <i class="fa fa-star" aria-hidden="true"></i>
	    <i class="fa fa-star" aria-hidden="true"></i>
	</div>
    </div>
</div>
