<h1>Welcome to Schedules!</h1>
<p>Schedules is a website designed by Mason SRCT designed to help students explore the GMU Catalog.</p>
Search for either professors or courses using the search bar above.
