<div class="jumbotron text-center">
    <h1><i class="fas fa-calendar-alt"></i>&nbsp;SRCT Schedules</h1>
    <p class="lead">Version 3.0</p>
    <hr />
    Last updated: <%= Update::last_update_date %>
</div>

<h3>Thank you to our contributors who make Schedules possible!</h3>

Zac Wood, David Haynes, Zach Perkins, Gilberto Barrientos, Michael Bailey, Nic Anderson

<br /><br/>

<h3>Questions?</h3>
All data in Schedules is sourced from data made publicly avaiable by GMU.
<ul>
    <li>Course and section data can be found on <a href="https://patriotweb.gmu.edu/pls/prod/bwckschd.p_disp_dyn_sched">Patriot Web</a></li>
    <li>Course review data can be found <a href="https://crserating.gmu.edu/ReportOnline/">here</a></li>
</ul>

Please contact SRCT at <a href="mailto:srct@gmu.edu">srct@gmu.edu</a> with any other questions.
