<h1><%= @instructor.name %></h1>

<% if @courses.any? %>
    <%= render partial: 'shared/course', collection: @courses, locals: { expanded: true } %>
<% else %>
    <p><%= @instructor.name %> has not taught any courses...</p>
<% end %>
