/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require cart
 *= require navbar
 *= require_self
 */

body {
    background-color: #E4E4E4;
}

#page {
    padding-top: 16px;
    padding-bottom: 16px;
}

.card {
    margin-bottom: 12px;

    background-color: white;

    border-radius: 8px;
    
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.3s;

    .card-header {
	display: flex;
	flex-direction: column;
    }
}

.attr-list {
    display: flex;
    flex-direction: row;

    .attr {
	.icon {
	    padding-right: 4px;
	}
	align-items: center;
	display: inline-flex;
	white-space: nowrap;
    }
} 

.unpadded {
    padding: 0px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.align-vertical {
    display: flex;
    align-items: center;
}

.align-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(0, 0, 255, 0.5);
}

.quick-add-header {
    margin-top: 32px;
}

%flex-display {
    display: inline-flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 1em;
    justify-content: flex-start;
}
.back-stars {
    @extend %flex-display;
    position: relative;
    text-shadow: 4px 4px 10px #843a3a;
}
.front-stars {
    @extend %flex-display;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
}

.full-width {
  width: 90vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -45vw;
  margin-right: -45vw;
}

// .jumbotron {
//     color: #FFFFFF
// }
