/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$gray: #4a4a4a;
$gold: #febf10;
$green: #01693f;
$blue: #297dc5;

$black: #212529;
$white: #F5F5F5;
$lightgreen: #3CD650;
$lightgray: #b6b6b6;

* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.hidden {
    display: none;
}

.hero {
    margin-top: 25%;
    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

#search-container {
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 4px $gray;
    width: 75%;
    border: none;
    height: 2em;
    outline: none;

    display: flex;

    & input {
        flex-grow: 1;
        outline: none;
        border: none;
        height: 100%;
        margin-left: 1em;
        margin-right: 1em;
        font-family: 'Roboto', sans-serif;
    }

    & i {
        width: 2em;
        margin-right: 1em;
        margin: auto;
        color: $blue;
    }

    & button {
        background-color: transparent;
        border: none;
    }
}

nav {
    display: flex;
    padding-top: 1em;
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 2em;

    // schedules logo
    > span:first-child {
        white-space: nowrap;
        font-size: 1.5em;

        a {
            color: black;
        }
    }
}

@media only screen and (max-width: 600px) {
    nav {
        text-align: center;
        flex-direction: column;

        > span:first-child {
            margin-bottom: 0.5em;
        }
    }

    #search-container {
        width: 90%;
    }
}
.instructor {
    box-shadow: 0 3px 5px -2px $gray;
    border-radius: 5px;
    padding: 1em 0 0.5em 1em;
    margin-bottom: 1em;
    border-top: 5px solid $green;

    a {
        text-decoration: underline;
    }
}
.course {
    box-shadow: 0 3px 5px -2px $gray;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    border-top: 5px solid $gold;

    h4 {
        margin-bottom: 0.3em;
        a {
            color: $green;
            font-weight: bolder;
            font-family: 'Open Sans', sans-serif;
        }
    }
    h5 {
        color: $gray;
        font-weight: 400;
    }

    .description {
        display: block;
        margin-top: 1em;
        line-height: 1.7em;
        font-family: 'Roboto', sans-serif;
        color: $gray;
        font-size: 0.9em;
        max-height: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .see-more {
        display: block;
        text-align: center;
        color: $green;
        font-weight: bold;
        margin-top: 1em;
        text-decoration: underline;
    }
}

.card {
    border-radius: 5px;
}

a {
    color: $green;
}

%flex-display {
    display: inline-flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 1em;
    justify-content: flex-start;
}
.back-stars {
    @extend %flex-display;
    position: relative;
}
.front-stars {
    @extend %flex-display;
    color: $gold;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.details {
    margin-top: 1em;
    p {
        margin-bottom: 0.2em;
    }
}

.semester-select {
    margin-bottom: 1em;
}

.section-type-label {
    margin-top: 1em;
}

.section-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > * {
        margin-bottom: 0.5em;
    }
}

.underline {
    text-decoration: underline !important;
}

.cart {
    position: fixed;
    right: 5%;
    bottom: 3%;
    background-color: $green;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
        font-size: 1.5em;
        margin: auto;
        color: white;
    }
}

.stats {
    margin-bottom: 0.5em;
}

.ratings {
    margin-bottom: 0.5em;
}

footer {
    margin: 4em auto 1em;
    text-align: center;
    max-width: 75%;

    p {
        margin-bottom: 0em;
    }
}

#count {
    position: absolute;
    top: 0;
    left: -0.5em;
    color: white;
    background-color: $blue;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 100%;
}
.btn-variant {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 0px;
}



li:target{
    background-color: #cfc;
    *{
        background-color: #cfc !important;
    }
}

li.instructor-section{
    position: relative;
    left: 3%;
}

button.collapse-button{
    border:none;
    padding:0px;
    background-color:transparent;
}

@media only screen and (min-width: 600px) {
    .cart {
        bottom: inherit;
        top: 3%;
    }
}


/* DARK MODE STYLING */
@media (prefers-color-scheme: dark) {
    * {
        color: $white;
        background-color: $black;
    }

    body {
        background-color: $black;
    }

    form {
        background-color: $white;
        * {
            color: #000000;
            background-color: $white;
        }
    }

    nav > span:first-child a {
        color: $white;
    }

    a {
        color: $lightgreen;

        /* Could look somewhat better; feel free to change. */
        &:hover {
            color: $green;
        }

        /* I think it would look better somewhere between $green and $lightgreen,
           but am going to leave it as is for simplity's sake. Feel free to change. */
        &.cart {
            background-color: $green;
            & > i.fa-shopping-cart {
                background-color: $green;
            }
        }
    }

    li.section-item {
        background-color: $black;
        border-color: $white;
    }

    section.instructor {
        box-shadow: 0  3px 5px -2px $white;
    }

    section.course {
        box-shadow: 0  3px 5px -2px $white;
        h4 a {
            color: $lightgreen;
        }
        h5 em {
            color: $white;
        }
        span.description {
            color: $lightgray;
        }
        a.see-more {
            color: $lightgreen;
        }
    }

    div.back-stars {
        i {
            color: $white;
        }
        div.front-stars i {
            color: $gold;
        }
    }

    div#exportModal {
        background-color: rgba(0, 0, 0, 0);
        div.modal-header {
            border-bottom: 1px solid $gray;
        }
        hr {
            background-color: $gray;
        }
        div.modal-footer {
            border-top: 1px solid $gray;
        }
    }

    /* This does nothing.
       I can't seem to find a way to edit these given the current HTML structure.
       If possible, I think that it would look more pleasing to make the background
       of the pop-up $white and the text contained inside of it $black, as it currently
       mixes in with the rest of the all-$black screen.
       */
    /*select.semester-select {
        color: blue;
        background-color: red;
        & > select {
            color: $green;
        }
    }*/
    li:target{
        background-color: #131;
        *{
            background-color: #131 !important;
        }
    }

}
