.center-vert {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    margin-top: 8px;
    margin-bottom: 48px;
}

#logo {
    font-size: 24pt;
    color: black;
    white-space: nowrap;
    margin-right: 8px;
}

#semester-select {
    min-width: 100px;
}

#cart-button {
    margin-top: 24px;
}
