#calendar {
    background-color: white;
    padding: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    min-width: 1000px;
    min-height: 800px;
}

.section-item.selected {
    background-color: white;
}

.section-item.selected:hover {
    background-color: red;
}

#share-header {
    margin-top: 16px;
}
