#calendar {
    background-color: white;
    padding: 16px;
    margin-bottom: 8px;
}

.section-item.selected {
    background-color: white;
}

.section-item.selected:hover {
    background-color: red;
}
