.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 1%;
    content: attr(data-count);
    font-size: 30%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: black;
    background: rgba(164, 164, 164, 0.85);
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}
